<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>English Teacher</title>
</head>
<body>
    <h1>Register</h1>
    <form method="POST" th:action="@{/register}" th:object="${formReg}" id="registerForm">
        <label for="username">Username: </label>
        <input type="text" th:field="*{username}"/><br/>
        <span class="validationError"
              th:if="${#fields.hasErrors('username')}"
              th:errors="*{username}">username filling error</span>

        <label for="password">Password: </label>
        <input type="password" th:field="*{password}"/><br/>
        <span class="validationError"
              th:if="${#fields.hasErrors('password')}"
              th:errors="*{password}">password filling error</span>

        <label for="phone">Phone: </label>
        <input type="text" th:field="*{phone}"/><br/>

        <input type="submit" value="Register"/>
    </form>
</body>
</html>