<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Words</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{../static/css/styles.css}" />
</head>
<body>
<div>
    <h3>Words for studying:</h3>
    <table border="1">
        <tr>
            <th>Word</th>
            <th>Translation</th>
            <th>Examples</th>
            <th>Go to</th>
            <th>Mark for removing</th>
        </tr>
        <!--/*@thymesVar id="words" type="List<Word>"*/-->
        <tr th:each="word : ${words}">
            <td th:utext="${word.getWord()}">...</td>
            <td th:utext="${word.getTranslation()}">...</td>
            <td th:utext="${word.getExamples()}">...</td>
            <td><a th:href="@{'words/' + ${word.getWord()}}">edit</a></td>
            <td><input name="words" type="checkbox" th:value="${word.getWord()}" /></td>
        </tr>
    </table>
</div>

<!--<div th:each="word : ${words}">-->
<!--    <input name="words" type="checkbox" th:value="${word.getWord()}" />-->
<!--    <span th:text="${word.getWord()}">WORD</span>-->
<!--    <br/>-->
<!--</div>-->


<form th:action="@{/words}" th:object="${newWord}" method="post">
    <p>Add new word
        <input type="text" id="word" placeholder="word" th:field="*{word}"/>
        <input type="text" id="translation" placeholder="translation" th:field="*{translation}">
    </p>
    <input type="submit" value="Add word" />
</form>

<form method="POST" th:action="@{/logout}">
    <input type="submit" value="Logout"/>
</form>

</body>
</html>