<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>English Teacher</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <input type="button" value="Go back to word`s list" onclick="window.location.href = '/words';"/>
    <p></p>
    <snap th:text="${word}"></snap>
    -
    <snap th:text="${translation}"></snap>

    <div th:each="example : ${examples}">
        <p th:text="${example}">...</p>
    </div>


    <form th:object="${example}" method="post">
        <p>Add new example
            <input type="text" id="example" placeholder="example" th:field="*{sentence}"/>
            <input type="text" id="translation" placeholder="translation" th:field="*{translation}">
        </p>
        <input type="submit" value="Add example" />
    </form>

    <form method="POST" th:action="@{/logout}">
        <input type="submit" value="Logout"/>
    </form>
</body>
</html>