<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>English Teacher</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <p th:utext="${word}"></p>

    <form th:object="${example}" method="post">
        <p>Add new example
            <input type="text" id="example" placeholder="example" th:field="*{sentence}"/>
            <input type="text" id="translation" placeholder="translation" th:field="*{translation}">
        </p>
        <input type="submit" value="Add example" />
    </form>
</body>
</html>