    .container-content  h1{
         text-align: center;
         padding-top: 15px;
         font-size: 25px;
         padding-bottom: 10px;
     }
    .container-content {
        background-color: #c3deda;

    }

    .carousel{

          /*box-sizing: border-box;*/
          /*border: 1px solid #c5c5c5 ;*/
        width: 100%;
        margin: auto;
        background-color: #8fa7a3;

      }

     .flickity-enabled {
         position: relative;
     }

     .flickity-viewport {
         overflow: hidden;
         position: relative;
         height: 100%;
         width:100%;
     }
     .flickity-slider {
         position: absolute;
         width: 100%;
         height: 100%;
     }
     .carousel h2{


         color: #c5c5c5;
         z-index: 1;
     }

    .over-img{
        position: absolute;
        height: 100%;
        width: 300px;
        background-color: rgba(0, 0, 0, 0.56);
    }

    .link-cell{
        /*display: flex;*/
        /*justify-content: space-around;*/
        /*height: 350px;*/
        /*width: 300px;*/
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 400px;
        width: 300px;
        color: #c5c5c5;
        z-index: 1;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.56);

    }
    .link-cell p{
        display: none;
    }
    .link-cell:hover > p{
        display: block;
    }

    .link-cell:hover{
        justify-content: space-around;
    }
     .flickity-prev-next-button .arrow {
         fill: black;
     }
     .flickity-prev-next-button.no-svg {
         color: #c5c5c5;
     }

     .flickity-prev-next-button:hover {
         /*background: transparent;*/
         opacity: 1;
         background-color: #6a807c;

     }
     .flickity-prev-next-button.previous:hover {

         background: rgb(143,167,163);
         background: linear-gradient(270deg, rgba(143,167,163,0) 0%, rgba(0,0,0,0.3365546047520571) 100%);
         opacity: 0.8;
         border-top-right-radius: 13px;
         border-bottom-right-radius:13px;
     }
     .flickity-prev-next-button.next:hover {
         background: rgb(143, 167, 163);
         background: linear-gradient(90deg, rgba(143, 167, 163, 0) 0%, rgba(0, 0, 0, 0.3365546047520571) 100%);
         opacity: 0.8;
         border-top-left-radius: 13px;
         border-bottom-left-radius:13px;
     }
     .flickity-prev-next-button {
         position: absolute;
         width: 50px;
         height: 100%;
         background: transparent;
         opacity: 0.6;
         border: none;
     }
     .flickity-prev-next-button.previous {
         top: 0;
         display: flex;
         left:0;
     }
     .flickity-prev-next-button.next {
         display: flex;
         top: 0;
         right: 0;
     }



         .carousel-cell {
             width: 34%;
             height: 350px;

             /* flex-box, center image in cell */
             display: flex ;
             -webkit-box-pack: center;
             -webkit-justify-content: center;
             justify-content: center;
             -webkit-align-items: center;
             align-items: center;
         }

         .carousel-cell img {
             display: flex;
             width: 300px;
             height: 400px;
             max-width: 100%;
             max-height: 100%;
              /*dim unselected */
             /*opacity: 0.7;*/
             /*-webkit-transform: scale(0.85);*/
             /*transform: scale(0.85);*/
             /*-webkit-filter: blur(5px);*/
             /*filter: blur(5px);*/
             /*-webkit-transition: opacity 0.3s, -webkit-transform 0.3s, transform 0.3s, -webkit-filter 0.3s, filter 0.3s;*/
             /*transition: opacity 0.3s, transform 0.3s, filter 0.3s;*/
         }

