.courses-menu {
    display: flex;
    max-width: 90vw;
    margin: auto;
    justify-content: space-evenly;

}
#h1{
    text-align: center;
}

.courses-menu li{
    display: block;


}

.courses-menu li a{
    display: inline-block;
    height: 2.5em;
    width: 20vw;
    color: black;
    background-color: #c5c5c5;
    text-align: center;
    padding-top: 10px;
    margin: 10px 0;
}
.courses-flex {
    display: flex;

    flex-flow: row wrap;
    justify-content: flex-start;
    width: 100em;
    margin: 2em auto ;

}
.english-list{
    display: flex;
    flex-direction: column;
    width: 15em;
    margin-right: 10px;
}
.carousel-cell.themes{
    width: 18.8em;
    margin-left: 4em;
    margin-bottom: 30px;
}

.english-list a {
    margin: 10px 0;
    background: #c9c9c9;
    padding: 5px;
    color: black;
}

.english-tests{
    display: flex;
}

.english-test-list{
    display: flex;
    flex-direction: column;
    width: 20em;
}

.english-test-list a{
    margin: 10px 0;
    background: #c9c9c9;
    padding: 5px;
    color: black;
}
.verbs {
    margin-left: 20px;
    margin-top: 20px;
}

.verbs h1{
    margin-bottom: 20px;
    color: #696969;
}


.verbs th {
    text-align: left;
    color: #fff;
    background-color: #6b78a7;
    padding: 10px;
    height: 20px;
}
.verbs td{
    min-width: 300px;
    padding: 5px 0 5px 10px;
    color: #696969;
    border-bottom: 2px solid #696969;
}
.verbs table{
    margin-bottom: 40px;
}
.verbs {
    min-height: 72vh;
}
.task-button{
    display: block;
    margin:30px 0;
    width: 729px;
    height: 50px;
    text-align: center;
    background: #4e4e4e;
    color: #ffffff;
    font-size: 24px;
    padding-top: 7px;
}

.task-button:hover {
    color: #4e4e4e;
    background: #b3b3b3;
}
.task-style{
    width: 70vw
}
.task-number{
    margin: 20px 0;
    font-size: 1.4em;
}
.task-input{
    width: 20vw;
    height: 30px;
    font-size: 1.1em;
}
.answer-check{
display: none;
    visibility: hidden;
}
.train-input.input-false{
    border: 2px solid red;
}

.train-input.input-true{
    border: 2px solid #2e842f;

}
.train-input{
    width:100px;
    height: 30px;
    margin: 10px;
    border: 1px solid #4A7C67;
    font-size: 18px;
    padding-left: 5px;
}

.train-button{
    width:100px;
    height: 30px;
    margin: 10px;
    background: #4A7C67;
    color: #ffffff;
}

.train-container{
    margin: 30px 0 0 30px;
    min-height: 100vh;
}

.train-container h3 {
    margin: 20px 0;
}