.courses-menu {
    display: flex;
    max-width: 90vw;
    margin: auto;
    justify-content: space-evenly;

}
#h1{
    text-align: center;
}

.courses-menu li{
    display: block;

}

.courses-menu li a{
    display: inline-block;
    height: 5vh;
    width: 16vw;
    color: black;
    background-color: #c5c5c5;
    text-align: center;
    padding-top: 10px;
    margin: 10px 0;
}
.courses-flex {
    margin: 30px 0;
    display: flex;
    justify-content: space-around;
    padding-bottom: 200px;
}
.english-list{
    display: flex;
    flex-direction: column;
    width: 15em;
    margin-right: 10px;
}

.english-list a {
    margin: 10px 0;
    background: #c9c9c9;
    padding: 5px;
    color: black;
}

.english-tests{
    display: flex;
}

.english-test-list{
    display: flex;
    flex-direction: column;
    width: 20em;
}

.english-test-list a{
    margin: 10px 0;
    background: #c9c9c9;
    padding: 5px;
    color: black;
}
.verbs {
    margin-left: 20px;
    margin-top: 20px;
}

.verbs h1{
    margin-bottom: 20px;
    color: #696969;
}


.verbs th {
    text-align: left;
    color: #fff;
    background-color: #6b78a7;
    padding: 10px;
    height: 20px;
}
.verbs td{
    min-width: 300px;
    padding: 5px 0 5px 10px;
    color: #696969;
    border-bottom: 2px solid #696969;
}
.verbs table{
    margin-bottom: 40px;
}
.verbs {
    min-height: 72vh;
}