
.container{

    display: flex;
    height: 65px;
    flex-direction: row;
    justify-content: space-around;
    justify-items: flex-end;
    background-color: var(--maincolor);



}
.item1{
    flex-grow:6;
}

.item2{
    align-self: center;
    flex-grow: 1;
    position: relative;
}
.item2 li a::selection{
    background-color: transparent;
}

.Logo::selection{
    background-color:transparent;
}



 ul li{
    display:inline-block;

}
 .container ul li{
     color: #c5c5c5;

 }
li a{
    text-decoration: none;
    color: #000;
}
.logo a{
    text-decoration: none;
    color: #ffffff;
}

.Logo{
    position:absolute;
    width: 320px;
    top: -27px;
    margin-left: 10vw;
    z-index: 2;
}

.btnh1{

    background-color:  #c5c5c5;
    width: 95px;
    height: 0;

    border-bottom: 25px solid transparent;
    border-left:  15px solid transparent;

    border-right: 17px solid var(--maincolor);
}

.btnh2{

   margin-left: 20px;
    position: relative;
    overflow: visible;
    z-index: 1;
    display: inline-block;
}
.btnh2:before{
    content: '';
    position: absolute;
    width: 110px;
    height: 0px;
    z-index: -1;
    display: block;
    margin-left: -20px;


    background-color: #c5c5c5;
    border-bottom: 25px solid transparent;
    border-left:  15px solid transparent;
    border-right: 17px solid var(--maincolor);
    transform:  rotate(180deg);
}
/*.btnh2 a{*/
/*        display: block;*/
/*        transform: rotate(180deg);*/
/*    text-align: center;*/
/*    padding-bottom: 4px;*/

/*}*/

.login a{
    margin-left: 2em;
    color: #c5c5c5;
}

.form-control{
margin-bottom: 1rem;

}

.loggedHeader{

    align-self: center;
    flex-grow: 1;
    position: relative;
}
/*.loggedHeader li::selection{*/
/*    background-color: transparent;*/

/*}*/
.loggedHeader li a{
    margin-left: 2vw;
    color: #ffffff;
}

/*header{*/
/*    position: fixed;*/
/*    z-index: 4;*/
/*    width: 100%;*/
/*    overflow: hidden;*/
/*    top: 0;*/
/*}*/