.profile{
    /*height: 90vh;*/
}
.profile-section{
    height: 45vh;
    margin: 20px;
    display:flex;

}

.profile-photo{
    flex-grow: 2;
}

.profile-img{
    display: block;
    width: 200px;
    border: 1px solid var(--maincolor);
}

.profile-info{
    flex-grow: 8;
}

.profile-menu{
    flex-grow: 2;
}

.profile-menu ul {
    list-style-type: none;

}

.profile-menu li{
    display: block;
}

/*.achiv-img li{*/
/*    display: block;*/
/*}*/
.achievments img {

    margin:10px 0;
    width: 120px;
    border-radius: 50%;
}
/*.achievments  {*/

/*    display:block;*/
/*}*/
/*.achievments ul ul {*/

/*    display: block  ;*/
/*}*/
.achiv-img {
    height: 50vh;
    background-color: var(--maincolor);
    display: flex;
    align-items: center;
    justify-content: space-around;
    /*border-top:1px solid var(--maincolor);*/
}
.achiv-img ul>li{
    margin-top: 10px;
    color: white;
    display: flex ;
    justify-content: space-around;
}

.achiv-heading h2{
    position: relative;
   z-index: 2;
    text-align: center;

    margin-bottom: -3vh;
}

.all-achiv{
    text-align: right;
    background-color: #c3deda;
}


.all-achiv span{
    background-color: #c5c5c5;
    padding: 0 10px;
    border-top:1px solid var(--maincolor);
    border-left:1px solid var(--maincolor);
}
.achievments{

    /*background-color: #c5c5c5;*/
    height: 80vh;
    width: 80vw;
    margin: auto;
}
.triangle{
    width: 80vw;
    position: absolute;
    height: 200px;
    background: white;
    /* The points are: centered top, left bottom, right bottom */
    clip-path: polygon(100% 0, 0  0, 50% 50%);
}
.triangle-achiev{
    width: 80vw;
    position: absolute;
    height: 200px;
    background: white;
    cursor: pointer;
    /* The points are: centered top, left bottom, right bottom */
    clip-path: polygon(100% 0, 0  0, 50% 50%);
}
.triangle-achiev-after{

    height: 200px;
    background: var(--maincolor);
    cursor: pointer;
    /* The points are: centered top, left bottom, right bottom */
        clip-path: polygon(100% 0, 0  0, 50% 50%);


}


.triangle-achiev-after:hover{

    height: 200px;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(85,141,118,1) 0%, rgba(85,141,118,1) 0%, rgba(197,197,197,1) 100%);
    cursor: pointer;
    /* The points are: centered top, left bottom, right bottom */
    clip-path: polygon(100% 0, 0  0, 50% 50%);


}


.achiv-img ul:nth-child(even){
    margin-top: 8vh;
}

.center-achieve{
    margin-top: 15vh;
}