.login_modal{

    width: 50vw;
    background: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.26);
    position: fixed;
    top:13vh;
    left: 5%;
    z-index: 2;
}

@media (min-width: 768px) {
    .login_modal{
        width: 35rem;
        left: calc((100% - 35rem)/2);
    }
}
.login_header{
    padding-bottom: 1rem;
    background:var(--maincolor) ;
}
.login_header h1{
    color: #c5c5c5;
    margin: auto;
    font-size: 1.2rem;

}
/*.login_action{*/
/*    display: flex;*/
/*    justify-content: flex-end;*/
/*}*/
.modal_exit {

    display: flex;
    justify-content: flex-end;
    margin-top: -38px;


}
.modal_exit img:hover{
    cursor: pointer;


}


.google{
    font-size: 12px;
    z-index: 500;
}

.login-form{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.google-button{
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    background-color: #c5c5c5;
    /*border: 1px solid var(--maincolor);*/
    width: 200px;
    height: 30px;

}
.login-submit{
    cursor: pointer;
    display: block;
    background-color: #c5c5c5;
    border: 1px solid var(--maincolor);
    width: 200px;
    height: 30px;
}

.login-input{
    background-color: #d5d5d8;
    margin-top:10px;
    width: 200px;
    height: 30px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid var(--maincolor);
    padding-left: 5px;

}

.login-input:focus{
    border: 1px solid var(--maincolor);
    border-bottom: 2px solid var(--maincolor);
}

.login-checkbox{
    margin:10px 0 10px -90px;

}

.login_action{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.google-text{

    text-align: center;
    flex: 10;
    padding-top: 5px;
}

.google-img{
    margin-left: 1vw;
    flex: 1;
    width: 15%;

}

.register-button{
    border: 1px solid var(--maincolor);
    margin-top: 10px;
    margin-bottom: 50px;
    cursor: pointer;
    display: block;
    background-color: #c5c5c5;
    width: 200px;
    height: 30px;
}